# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db